{% extends "base.html" %}

{% block header %}
<p><font color="#006633" size="4" face="Verdana, Arial, Helvetica, sans-serif"><strong>Welcome to The SRM Group LLC Customer Portal</strong></font></p>
{% endblock %}

{% block content %}

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='.' method='post'>{% csrf_token %}
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username"><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"><br>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  <form action='.' method='post'>

{% endblock %}

